.logo img {
	height : 50px;
}

.white-bg {
	background-color: #fefefe;
}

.input-group {
  margin-bottom:10px;	
}

input.valid {
  background: url(../images/ok-16.png) right no-repeat !important;
}

input.error {
  background: url(../images/error-16.png) right no-repeat !important;
}


label.error {
    font-weight: normal;
    color: red;
    display: inline-block;
    margin: 0;
    padding-left: 5px;
    
    height: 34px;
    line-height: 34px;
    width: 100%;
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid;
    border-top: 0px;
    border-color: #ebccd1;

.error-container {
	display: none;
}

div.error {
	padding:5px;
}