<script src="/statics/js/jquery.min.js"></script>

<script src="/statics/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="/statics/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/statics/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/statics/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/statics/plugins/fastclick/fastclick.js"></script>
<script src="/statics/adminlte/js/app.js"></script>
<script src="/statics/js/artTemplate/template.js"></script>
<script src="/statics/js/app.js"></script>
